In [42]:
a = 100
result = a - 3
a = result
print(a)

97

In [43]:
a = 100
a = a - 3
print(a)

97

In [44]:
a = 100
a -= 3

In [45]:
a = 0x10

In [46]:
print(a)

16

In [47]:
35 + 24

59

In [48]:
"35" + "24"

'3524'

In [49]:
int("35") + int("24")

59

In [51]:
1234
-100

10 + 3
10 - 3
10 * 3
10 / 3
10 // 3
10 ** 3

1000

In [53]:
c = 60
c //= 8
print(c)

7

In [54]:
int(3.5)

3

In [55]:
float(3)

3.0

In [56]:
a = 147

In [58]:
str(a)

'147'

In [59]:
print(a)

147

In [60]:
lux = '빛으로 강타해요!'

In [61]:
lux[:]

'빛으로 강타해요!'

In [62]:
lux[1:]

'으로 강타해요!'

In [63]:
lux[:4]

'빛으로 '

In [64]:
lux[:-3]

'빛으로 강타'

In [65]:
lux[::2]

'빛로강해!'

In [66]:
len('asdf')

4

In [67]:
id('abc')

4389806008

In [68]:
girlsday = '민아,유라,소진,혜리'

In [69]:
girlsday.split(',')

['민아', '유라', '소진', '혜리']

In [70]:
result = girlsday.split(',')
type(result)

list

In [71]:
girlsday.split()

['민아,유라,소진,혜리']

In [72]:
'민아 유라 소진 혜리'.split()

['민아', '유라', '소진', '혜리']

In [73]:
girlsday_list = girlsday.split(',')

girlsday_list

In [75]:
', '.join(girlsday_list)

'민아, 유라, 소진, 혜리'

In [76]:
str1 = '민아는 커피를 마신다'

In [77]:
str2 = '유라는 커피를 마신다'

In [78]:
str3 = '혜리는 커피를 마신다'

In [79]:
g1 = '민아'
g2 = '유라'
g3 = '혜리'

In [80]:
'%s는 커피를 마신다' % g1

'민아는 커피를 마신다'

In [81]:
'%s는 커피를 마신다' % g2

'유라는 커피를 마신다'

In [82]:
format_string = '%s는 커피를 마신다'

In [83]:
format_string % g1

'민아는 커피를 마신다'

In [84]:
format_string % g2

'유라는 커피를 마신다'

In [85]:
format_string % g3

'혜리는 커피를 마신다'

In [86]:
str(id)

'<built-in function id>'

In [90]:
'지금 %d%%입니다' % 100

'지금 100%입니다'

In [97]:
'%10.1f' % (10)

'      10.0'

In [101]:
'%10d' % (10)

'        10'

In [104]:
'{person}가 {food}를 먹는다'.format(
    person='민아',
    food='고기',
)

'민아가 고기를 먹는다'

In [105]:
person = '민아'
food = '고기'

In [106]:
'{}가 {}를 먹는다'.format(person, food)

'민아가 고기를 먹는다'

In [107]:
f'{person}가 {food}를 먹는다'

'민아가 고기를 먹는다'

In [108]:
f'{school}'

NameError: name 'school' is not defined

In [110]:
multi_lines = '''지독하게 낮은 사속
전체 RF 중 뒤에서 두 번째인 낮은 사속 때문에 저평가 받는다. 공속 꼴찌인 PTRD는 그래도 화력이 전체 3위라 5성 죽창을 그럭저럭 대체할 수 있지만, 모신나강의 화력은 느린 사속을 커버해주지 못한다. 이는 전용장비를 얻어도 마찬가지고, 개조를 하면 일부 커버가 가능하지만 제약이 많아 
여전히 문제점으로 남는다.'''

In [111]:
print(multi_lines)

지독하게 낮은 사속
전체 RF 중 뒤에서 두 번째인 낮은 사속 때문에 저평가 받는다. 공속 꼴찌인 PTRD는 그래도 화력이 전체 3위라 5성 죽창을 그럭저럭 대체할 수 있지만, 모신나강의 화력은 느린 사속을 커버해주지 못한다. 이는 전용장비를 얻어도 마찬가지고, 개조를 하면 일부 커버가 가능하지만 제약이 많아
여전히 문제점으로 남는다.

In [112]:
multi_lines

'지독하게 낮은 사속\n전체 RF 중 뒤에서 두 번째인 낮은 사속 때문에 저평가 받는다. 공속 꼴찌인 PTRD는 그래도 화력이 전체 3위라 5성 죽창을 그럭저럭 대체할 수 있지만, 모신나강의 화력은 느린 사속을 커버해주지 못한다. 이는 전용장비를 얻어도 마찬가지고, 개조를 하면 일부 커버가 가능하지만 제약이 많아 \n여전히 문제점으로 남는다.'

In [113]:
'abc' * 10

'abcabcabcabcabcabcabcabcabcabc'

In [114]:
sample_list2 = ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec']

In [116]:
sample_list2[6]

'Jul'

In [117]:
sample_list = ['a', 'b', 'c', 'd']

In [118]:
sample_list[2] = 'C'

In [119]:
sample_list

['a', 'b', 'C', 'd']

In [120]:
sample_list2

['Jan',
 'Feb',
 'Mar',
 'Apr',
 'May',
 'Jun',
 'Jul',
 'Aug',
 'Sep',
 'Oct',
 'Nov',
 'Dec']

In [123]:
quarters = sample_list2[::3]
print(quarters)

['Jan', 'Apr', 'Jul', 'Oct']

In [134]:
last_three = sample_list2[:-4:-1]
print(last_three)

['Dec', 'Nov', 'Oct']

In [131]:
sample_list2[1:3]

['Feb', 'Mar']

In [132]:
sample_list2[0:3]

['Jan', 'Feb', 'Mar']

In [133]:
sample_list2[:3]

['Jan', 'Feb', 'Mar']

In [136]:
reverse_two_steps = sample_list2[::-2]
print(reverse_two_steps)

['Dec', 'Oct', 'Aug', 'Jun', 'Apr', 'Feb']

In [137]:
lux = '빛으로 강타해요!'

In [138]:
lux[::-1]

'!요해타강 로으빛'

In [145]:
fruits = 'apple,banana,melon'.split(',')

In [140]:
colors = 'red,green,blue'.split(',')

In [141]:
fruits

['apple', 'banana', 'melon']

In [142]:
colors

['red', 'green', 'blue']

In [143]:
fruits.append(colors)

In [144]:
fruits

['apple', 'banana', 'melon', ['red', 'green', 'blue']]

In [146]:
fruits

['apple', 'banana', 'melon']

In [147]:
fruits.insert(1, 'mango')
print(fruits)

['apple', 'mango', 'banana', 'melon']

In [148]:
fruits.insert(100, 'pineapple')

In [149]:
print(fruits)

['apple', 'mango', 'banana', 'melon', 'pineapple']

In [150]:
a = 12345678

In [151]:
id(a)

4425367312

In [152]:
a = 'sdf'

In [153]:
del a

In [155]:
del fruits[-1]

In [156]:
fruits

['apple', 'mango', 'banana', 'melon']

In [158]:
fruits.index('apple')

0

In [159]:
'red' in fruits

False

In [160]:
'apple' in fruits

True

In [161]:
list1 = ['b', 'c', 'a', 'f', 'e', 'd']

In [162]:
list_ori = list1.copy()

In [163]:
list1

['b', 'c', 'a', 'f', 'e', 'd']

In [164]:
list_ori

['b', 'c', 'a', 'f', 'e', 'd']

In [165]:
list1.sort()

In [166]:
list1

['a', 'b', 'c', 'd', 'e', 'f']

In [167]:
list_ori

['b', 'c', 'a', 'f', 'e', 'd']

In [168]:
result = sorted(list_ori)

In [169]:
result

['a', 'b', 'c', 'd', 'e', 'f']

In [170]:
list_ori

['b', 'c', 'a', 'f', 'e', 'd']

In [171]:
var1 = 100
var2 = var1

In [172]:
print(var1)
print(var2)

100
100

In [173]:
var1 = 200
print(var1)
print(var2)

200
100

In [174]:
list1 = ['a', 'b', 'c']
list2 = list1

In [175]:
print(list1)
print(list2)

['a', 'b', 'c']
['a', 'b', 'c']

In [176]:
list1[0] = 'A'
print(list1)
print(list2)

['A', 'b', 'c']
['A', 'b', 'c']

In [177]:
list1 = ['a', 'b', 'c']
list2 = list1.copy()

In [178]:
print(list1)
print(list2)

['a', 'b', 'c']
['a', 'b', 'c']

In [179]:
list1[0] = 'A'
print(list1)
print(list2)

['A', 'b', 'c']
['a', 'b', 'c']

In [184]:
a = 3, 5
b = (3, 5)

In [186]:
print(type(a))
print(type(b))

<class 'tuple'>
<class 'tuple'>

In [187]:
a = 3

In [188]:
print(type(a))

<class 'int'>

In [189]:
a = (3)
type(a)

int

In [190]:
a = 3,

In [191]:
a = (3, )

In [192]:
a = (3, 5, 7)

In [193]:
b = a[0]
c = a[1]
d = a[2]
print(b, c, d)

3 5 7

In [194]:
b, c, d = a
print(b, c, d)

3 5 7

In [195]:
x = 10
y = 5

In [196]:
temp = x
x = y
y = temp
print(x, y)

5 10

In [198]:
x = 10
y = 5
print(x, y)

10 5

In [199]:
(x, y) = (y, x)
print(x, y)

5 10

In [200]:
a = (3, 5)

In [201]:
list_str = list('Fastcampus')
list_str

['F', 'a', 's', 't', 'c', 'a', 'm', 'p', 'u', 's']

In [202]:
''.join(list_str)

'Fastcampus'

In [203]:
champion_dict = {
    'Lux': 'the Lady of L..',
    'Ahri': 'the Nine',
    'Ezreal': 'the Prodigal',
    'Teemo': 'the Swift',
}

In [204]:
champion_dict['Lux']

'the Lady of L..'

In [206]:
champion_dict['Sona'] = 'Maven of the Strings'

In [207]:
champion_dict['Sona']

'Maven of the Strings'

In [209]:
champion_dict.get('Soraka', 'Healer')

'Healer'

In [210]:
champion_dict.get('Lux', 'Light')

'the Lady of L..'

In [211]:
champion_dict.keys()

dict_keys(['Lux', 'Ahri', 'Ezreal', 'Teemo', 'Sona'])

In [212]:
champion_dict.values()

dict_values(['the Lady of L..', 'the Nine', 'the Prodigal', 'the Swift', 'Maven of the Strings'])

In [213]:
champion_dict.items()

dict_items([('Lux', 'the Lady of L..'), ('Ahri', 'the Nine'), ('Ezreal', 'the Prodigal'), ('Teemo', 'the Swift'), ('Sona', 'Maven of the Strings')])

# 딕셔너리, 셋 연습문제

## 1.

In [214]:
fruits = dict(apple='사과', banana='바나나', cherry='체리')

In [215]:
fruits = {
    'apple': '사과',
    'banana': '바나나',
    'cherry': '체리',
}

In [216]:
fruits_set = set(fruits)

In [217]:
print(fruits_set)

{'cherry', 'banana', 'apple'}

In [218]:
'durian' in fruits_set

False

In [219]:
girlgroups = {
    'girlsday': {
        'korean': '걸스데이',
        'members': ['민아', '혜리', '소진', '유라'],
    },
    'redvelvet': {
        'korean': '레드벨벳',
        'members': '아이린,슬기,웬디,조이,예리'.split(','),
    },
}

In [220]:
girlgroups.keys()

dict_keys(['girlsday', 'redvelvet'])

In [221]:
girlgroups['girlsday'].keys()

dict_keys(['korean', 'members'])

In [222]:
girlgroups['redvelvet'].values()

dict_values(['레드벨벳', ['아이린', '슬기', '웬디', '조이', '예리']])

In [223]:
x = {1,2,3,4,5,6,8}
y = {4,5,6,9,10,11}
z = {4,6,8,9,7,10,12}

In [226]:
x & y & z

{4, 6}

In [227]:
(y & z) - x

{9, 10}

In [228]:
x - (y | z)

{1, 2, 3}

In [229]:
is_holiday = False

In [230]:
if is_holiday:
    print('Good')
else:
    print('Bad')

Bad

In [231]:
print('Good') if is_holiday else print('Bad')

Bad

In [232]:
result = print('Good') if is_holiday else print('Bad')

Bad

In [233]:
print(result)

None

In [234]:
a = 'ABC'
print(a)

ABC

In [235]:
a = print('ABC')
print(a)

ABC
None

In [236]:
result = 'Good' if is_holiday else 'Bad'
print(result)

Bad

In [237]:
is_holiday = True
if is_holiday:
    result = 'Good'
else:
    result = 'Bad'

print(result)

Good

In [238]:
vacation = 2

In [239]:
if vacation >= 7:
    result = 'Good'
elif vacation >= 5:
    result = 'Normal'
else:
    result = 'Bad'

print(result)

Bad

In [240]:
result = 'Good' if vacation >= 7 else 'Normal' if vacation >= 5 else 'Bad'
print(result)

Bad

In [241]:
champion_dict

{'Lux': 'the Lady of L..',
 'Ahri': 'the Nine',
 'Ezreal': 'the Prodigal',
 'Teemo': 'the Swift',
 'Sona': 'Maven of the Strings'}

In [242]:
for item in champion_dict:
    print(item)

Lux
Ahri
Ezreal
Teemo
Sona

In [244]:
for item in champion_dict.items():
    print(item)

('Lux', 'the Lady of L..')
('Ahri', 'the Nine')
('Ezreal', 'the Prodigal')
('Teemo', 'the Swift')
('Sona', 'Maven of the Strings')

In [254]:
sample = [
    [1,2,3],
    [4,5,6],
    [7,8,9],
]

In [255]:
print(sample)

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [256]:
for item in sample:
    print(item)

[1, 2, 3]
[4, 5, 6]
[7, 8, 9]

In [257]:
for row in sample:
    for item in row:
        print(item)

1
2
3
4
5
6
7
8
9

In [260]:
result = 
for item in sample:
    if 5 in item:
        continue
    print(item)

[1, 2, 3]
[7, 8, 9]

In [264]:
find = 10

In [263]:
# find라는 변수가 가진 값이 sample을 순회하며 순회하는 item안에 존재하지 않았다면
# '찾지못함' 이라는 문자열을 print
# 존재한다면 해당 순간에 find에 해당하는 값을 찾았음을 알리고 break로 for loop탈출, 찾지못함이라는 문자열은 보여주지 않음

# for-else를 쓰지 않고 구현 (for문 외부에 찾음/찾지못함을 저장할 변수 하나 필요)

# for-else문을 사용할때는 for문 외부에 변수 없이 구현 가능. 만들어보기