In [1]:
a = 100
result = a - 3
a = result
print(a)

97

In [2]:
a = 100
a = a - 3
print(a)

97

In [3]:
a = 100
a -= 3

In [4]:
a = 0x10

In [5]:
print(a)

16

In [6]:
35 + 24

59

In [7]:
"35" + "24"

'3524'

In [8]:
int("35") + int("24")

59

In [9]:
1234
-100

10 + 3
10 - 3
10 * 3
10 / 3
10 // 3
10 ** 3

1000

In [10]:
c = 60
c //= 8
print(c)

7

In [11]:
int(3.5)

3

In [12]:
float(3)

3.0

In [13]:
a = 147

In [14]:
str(a)

'147'

In [15]:
print(a)

147

In [16]:
lux = '빛으로 강타해요!'

In [17]:
lux[:]

'빛으로 강타해요!'

In [18]:
lux[1:]

'으로 강타해요!'

In [19]:
lux[:4]

'빛으로 '

In [20]:
lux[:-3]

'빛으로 강타'

In [21]:
lux[::2]

'빛로강해!'

In [22]:
len('asdf')

4

In [23]:
id('abc')

4521430968

In [24]:
girlsday = '민아,유라,소진,혜리'

In [25]:
girlsday.split(',')

['민아', '유라', '소진', '혜리']

In [26]:
result = girlsday.split(',')
type(result)

list

In [27]:
girlsday.split()

['민아,유라,소진,혜리']

In [28]:
'민아 유라 소진 혜리'.split()

['민아', '유라', '소진', '혜리']

In [29]:
girlsday_list = girlsday.split(',')

girlsday_list

In [30]:
', '.join(girlsday_list)

'민아, 유라, 소진, 혜리'

In [31]:
str1 = '민아는 커피를 마신다'

In [32]:
str2 = '유라는 커피를 마신다'

In [33]:
str3 = '혜리는 커피를 마신다'

In [34]:
g1 = '민아'
g2 = '유라'
g3 = '혜리'

In [35]:
'%s는 커피를 마신다' % g1

'민아는 커피를 마신다'

In [36]:
'%s는 커피를 마신다' % g2

'유라는 커피를 마신다'

In [37]:
format_string = '%s는 커피를 마신다'

In [38]:
format_string % g1

'민아는 커피를 마신다'

In [39]:
format_string % g2

'유라는 커피를 마신다'

In [40]:
format_string % g3

'혜리는 커피를 마신다'

In [41]:
str(id)

'<built-in function id>'

In [42]:
'지금 %d%%입니다' % 100

'지금 100%입니다'

In [43]:
'%10.1f' % (10)

'      10.0'

In [44]:
'%10d' % (10)

'        10'

In [45]:
'{person}가 {food}를 먹는다'.format(
    person='민아',
    food='고기',
)

'민아가 고기를 먹는다'

In [46]:
person = '민아'
food = '고기'

In [47]:
'{}가 {}를 먹는다'.format(person, food)

'민아가 고기를 먹는다'

In [48]:
f'{person}가 {food}를 먹는다'

'민아가 고기를 먹는다'

In [49]:
f'{school}'

NameError: name 'school' is not defined

In [ ]:
multi_lines = '''지독하게 낮은 사속
전체 RF 중 뒤에서 두 번째인 낮은 사속 때문에 저평가 받는다. 공속 꼴찌인 PTRD는 그래도 화력이 전체 3위라 5성 죽창을 그럭저럭 대체할 수 있지만, 모신나강의 화력은 느린 사속을 커버해주지 못한다. 이는 전용장비를 얻어도 마찬가지고, 개조를 하면 일부 커버가 가능하지만 제약이 많아 
여전히 문제점으로 남는다.'''

In [ ]:
print(multi_lines)

In [ ]:
multi_lines

In [ ]:
'abc' * 10

In [ ]:
sample_list2 = ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec']

In [ ]:
sample_list2[6]

In [ ]:
sample_list = ['a', 'b', 'c', 'd']

In [ ]:
sample_list[2] = 'C'

In [ ]:
sample_list

In [ ]:
sample_list2

In [ ]:
quarters = sample_list2[::3]
print(quarters)

In [ ]:
last_three = sample_list2[:-4:-1]
print(last_three)

In [ ]:
sample_list2[1:3]

In [ ]:
sample_list2[0:3]

In [ ]:
sample_list2[:3]

In [ ]:
reverse_two_steps = sample_list2[::-2]
print(reverse_two_steps)

In [ ]:
lux = '빛으로 강타해요!'

In [ ]:
lux[::-1]

In [ ]:
fruits = 'apple,banana,melon'.split(',')

In [ ]:
colors = 'red,green,blue'.split(',')

In [ ]:
fruits

In [ ]:
colors

In [ ]:
fruits.append(colors)

In [ ]:
fruits

In [ ]:
fruits

In [ ]:
fruits.insert(1, 'mango')
print(fruits)

In [ ]:
fruits.insert(100, 'pineapple')

In [ ]:
print(fruits)

In [ ]:
a = 12345678

In [ ]:
id(a)

In [ ]:
a = 'sdf'

In [ ]:
del a

In [ ]:
del fruits[-1]

In [ ]:
fruits

In [ ]:
fruits.index('apple')

In [ ]:
'red' in fruits

In [ ]:
'apple' in fruits

In [ ]:
list1 = ['b', 'c', 'a', 'f', 'e', 'd']

In [ ]:
list_ori = list1.copy()

In [ ]:
list1

In [ ]:
list_ori

In [ ]:
list1.sort()

In [ ]:
list1

In [ ]:
list_ori

In [ ]:
result = sorted(list_ori)

In [ ]:
result

In [ ]:
list_ori

In [ ]:
var1 = 100
var2 = var1

In [ ]:
print(var1)
print(var2)

In [ ]:
var1 = 200
print(var1)
print(var2)

In [ ]:
list1 = ['a', 'b', 'c']
list2 = list1

In [ ]:
print(list1)
print(list2)

In [ ]:
list1[0] = 'A'
print(list1)
print(list2)

In [ ]:
list1 = ['a', 'b', 'c']
list2 = list1.copy()

In [ ]:
print(list1)
print(list2)

In [ ]:
list1[0] = 'A'
print(list1)
print(list2)

In [ ]:
a = 3, 5
b = (3, 5)

In [ ]:
print(type(a))
print(type(b))

In [ ]:
a = 3

In [ ]:
print(type(a))

In [ ]:
a = (3)
type(a)

In [ ]:
a = 3,

In [ ]:
a = (3, )

In [ ]:
a = (3, 5, 7)

In [ ]:
b = a[0]
c = a[1]
d = a[2]
print(b, c, d)

In [ ]:
b, c, d = a
print(b, c, d)

In [ ]:
x = 10
y = 5

In [ ]:
temp = x
x = y
y = temp
print(x, y)

In [ ]:
x = 10
y = 5
print(x, y)

In [ ]:
(x, y) = (y, x)
print(x, y)

In [ ]:
a = (3, 5)

In [ ]:
list_str = list('Fastcampus')
list_str

In [ ]:
''.join(list_str)

In [ ]:
champion_dict = {
    'Lux': 'the Lady of L..',
    'Ahri': 'the Nine',
    'Ezreal': 'the Prodigal',
    'Teemo': 'the Swift',
}

In [ ]:
champion_dict['Lux']

In [ ]:
champion_dict['Sona'] = 'Maven of the Strings'

In [ ]:
champion_dict['Sona']

In [ ]:
champion_dict.get('Soraka', 'Healer')

In [ ]:
champion_dict.get('Lux', 'Light')

In [ ]:
champion_dict.keys()

In [ ]:
champion_dict.values()

In [ ]:
champion_dict.items()

# 딕셔너리, 셋 연습문제

## 1.

In [ ]:
fruits = dict(apple='사과', banana='바나나', cherry='체리')

In [ ]:
fruits = {
    'apple': '사과',
    'banana': '바나나',
    'cherry': '체리',
}

In [ ]:
fruits_set = set(fruits)

In [ ]:
print(fruits_set)

In [ ]:
'durian' in fruits_set

In [ ]:
girlgroups = {
    'girlsday': {
        'korean': '걸스데이',
        'members': ['민아', '혜리', '소진', '유라'],
    },
    'redvelvet': {
        'korean': '레드벨벳',
        'members': '아이린,슬기,웬디,조이,예리'.split(','),
    },
}

In [ ]:
girlgroups.keys()

In [ ]:
girlgroups['girlsday'].keys()

In [ ]:
girlgroups['redvelvet'].values()

In [ ]:
x = {1,2,3,4,5,6,8}
y = {4,5,6,9,10,11}
z = {4,6,8,9,7,10,12}

In [ ]:
x & y & z

In [ ]:
(y & z) - x

In [ ]:
x - (y | z)

In [ ]:
is_holiday = False

In [ ]:
if is_holiday:
    print('Good')
else:
    print('Bad')

In [ ]:
print('Good') if is_holiday else print('Bad')

In [ ]:
result = print('Good') if is_holiday else print('Bad')

In [ ]:
print(result)

In [ ]:
a = 'ABC'
print(a)

In [ ]:
a = print('ABC')
print(a)

In [ ]:
result = 'Good' if is_holiday else 'Bad'
print(result)

In [ ]:
is_holiday = True
if is_holiday:
    result = 'Good'
else:
    result = 'Bad'

print(result)

In [ ]:
vacation = 2

In [ ]:
if vacation >= 7:
    result = 'Good'
elif vacation >= 5:
    result = 'Normal'
else:
    result = 'Bad'

print(result)

In [ ]:
result = 'Good' if vacation >= 7 else 'Normal' if vacation >= 5 else 'Bad'
print(result)

In [ ]:
champion_dict

In [ ]:
for item in champion_dict:
    print(item)

In [ ]:
for item in champion_dict.items():
    print(item)

In [50]:
sample = [
    [1,2,3],
    [4,5,6],
    [7,8,9],
]

In [51]:
print(sample)

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [52]:
for item in sample:
    print(item)

[1, 2, 3]
[4, 5, 6]
[7, 8, 9]

In [53]:
for row in sample:
    for item in row:
        print(item)

1
2
3
4
5
6
7
8
9

In [63]:
find = 8

In [59]:
# find라는 변수가 가진 값이 sample을 순회하며 순회하는 item안에 존재하지 않았다면
# '찾지못함' 이라는 문자열을 print
# 존재한다면 해당 순간에 find에 해당하는 값을 찾았음을 알리고 break로 for loop탈출, 찾지못함이라는 문자열은 보여주지 않음

# for-else를 쓰지 않고 구현 (for문 외부에 찾음/찾지못함을 저장할 변수 하나 필요)

# for-else문을 사용할때는 for문 외부에 변수 없이 구현 가능. 만들어보기

In [64]:
for item in sample:
    if find in item:
        print(f'{find}을/를 찾음')
        break
else:
    print(f'{find}을/를 찾지 못함')

8을/를 찾음

In [73]:
sample = [1,2,3,4,5,6,7,8,9]
find = 10
found = False

for item in sample:
    if find == item:
        print(f'{find}을/를 찾음')
        found = True
        break

if not found:
    print(f'{find}을/를 찾지 못함')

10을/를 찾지 못함

In [85]:
fruits = 'apple,banana,melon,grape,orange'.split(',')
colors = 'red yellow green purple'.split()

for fruit, color in zip(fruits, colors):
    print(f'fruit: {fruit}, color: {color}')

fruit: apple, color: red
fruit: banana, color: yellow
fruit: melon, color: green
fruit: grape, color: purple

In [86]:
index = 0
for fruit in fruits:
    print(fruit, colors[index])
    index += 1

apple red
banana yellow
melon green
grape purple

IndexError: list index out of range

In [103]:
# (index, <object>)
# fruits가 더 길어도 오류가 나지 않도록
# 1. 순회하는 iterable객체를 바꾸기 (더 짧은 걸로)
# 2. 순회중에 반대쪽 리스트의 index를 넘어가는 경우에 대한 처리
short_list = fruits
long_list = colors
if len(fruits) > len(colors):
    short_list = colors
    long_list = fruits
# 조건표현식
# 튜플언패킹

short_list, long_list = (colors, fruits) if len(fruits) > len(colors) else (fruits, colors)

for index, item in enumerate(short_list):
    print(item, long_list[index])

red apple
yellow banana
green melon
purple grape

In [105]:
len_colors = len(colors)
# fruits가 총 5개
# colors는 총 4개
# 어느 loop index에서 멈춰야 하는가
for index, fruit in enumerate(fruits):
    if index == len_colors:
        break
    print(fruit, colors[index])

apple red
banana yellow
melon green
grape purple

In [106]:
range(10)

range(0, 10)

In [107]:
range(1, 10)

range(1, 10)

In [108]:
range(1, 10, 2)

range(1, 10, 2)

In [110]:
[item * 2 for item in range(1, 6)]

[2, 4, 6, 8, 10]

In [111]:
[item for item in range(2, 12, 2)]

[2, 4, 6, 8, 10]

In [113]:
[item for item in range(1, 6) if item % 2 == 0]

[2, 4]

In [115]:
results = []
for color in colors:
    for fruit in fruits:
        results.append((color, fruit))

print(results)

[('red', 'apple'), ('red', 'banana'), ('red', 'melon'), ('red', 'grape'), ('red', 'orange'), ('yellow', 'apple'), ('yellow', 'banana'), ('yellow', 'melon'), ('yellow', 'grape'), ('yellow', 'orange'), ('green', 'apple'), ('green', 'banana'), ('green', 'melon'), ('green', 'grape'), ('green', 'orange'), ('purple', 'apple'), ('purple', 'banana'), ('purple', 'melon'), ('purple', 'grape'), ('purple', 'orange')]

In [117]:
for i in range(6):
    for j in range(3):
        print((i, j))

(0, 0)
(0, 1)
(0, 2)
(1, 0)
(1, 1)
(1, 2)
(2, 0)
(2, 1)
(2, 2)
(3, 0)
(3, 1)
(3, 2)
(4, 0)
(4, 1)
(4, 2)
(5, 0)
(5, 1)
(5, 2)

In [118]:
[(x, y) for x in range(6) for y in range(3)]

[(0, 0),
 (0, 1),
 (0, 2),
 (1, 0),
 (1, 1),
 (1, 2),
 (2, 0),
 (2, 1),
 (2, 2),
 (3, 0),
 (3, 1),
 (3, 2),
 (4, 0),
 (4, 1),
 (4, 2),
 (5, 0),
 (5, 1),
 (5, 2)]

In [124]:
# for x in range(6):
#     for y in range(3):
#         if x % 2 == 0:
#             print((x, y))
            
for x in range(6):
    if x % 2 == 0:
        for y in range(3):
            print((x, y))

(0, 0)
(0, 1)
(0, 2)
(2, 0)
(2, 1)
(2, 2)
(4, 0)
(4, 1)
(4, 2)

In [126]:
[(x, y) 
 for x in range(6) 
     if x % 2 == 0 
         for y in range(4)]

[(0, 0),
 (0, 1),
 (0, 2),
 (0, 3),
 (2, 0),
 (2, 1),
 (2, 2),
 (2, 3),
 (4, 0),
 (4, 1),
 (4, 2),
 (4, 3)]

In [127]:
result = 0
for i in range(1000, 2001):
    if i % 2 == 1:
        result += i

In [128]:
print(result)

750000

In [130]:
sum([x for x in range(1000, 2001) if x % 2 == 1])

750000

In [140]:
sum(range(1001, 2001, 2))

750000

In [132]:
sum = 10

In [135]:
del sum

In [136]:
sum([1,2,3])

6

In [137]:
sum(range(10))

45

In [138]:
sum

In [143]:
for x in range(2, 10):
    print(f'{x}단')
    for y in range(1, 10):
        print(f'{x} x {y} = {x * y}')
    print('')

2단
2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18

3단
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27

4단
4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36

5단
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45

6단
6 x 1 = 6
6 x 2 = 12
6 x 3 = 18
6 x 4 = 24
6 x 5 = 30
6 x 6 = 36
6 x 7 = 42
6 x 8 = 48
6 x 9 = 54

7단
7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63

8단
8 x 1 = 8
8 x 2 = 16
8 x 3 = 24
8 x 4 = 32
8 x 5 = 40
8 x 6 = 48
8 x 7 = 56
8 x 8 = 64
8 x 9 = 72

9단
9 x 1 = 9
9 x 2 = 18
9 x 3 = 27
9 x 4 = 36
9 x 5 = 45
9 x 6 = 54
9 x 7 = 63
9 x 8 = 72
9 x 9 = 81

In [144]:
multiplication_table = [x * y for x in range(2, 10) for y in range(1, 10)]

In [153]:
for index, item in enumerate(multiplication_table):
    # 첫 번째 loop의 단수: index = 0 -> 2
    # 두 번째 loop의 단수: index = 9 -> 3
    # 세 번째 loop의 단수: index = 18 -> 4
    if index % 9 == 0:
        print(f'{item}단')
        print(f'{index // 9 + 2}단')
        dan = item
        
    inner_index = index % 9 + 1
    print(f'{dan} x {inner_index} = {item}')
    
    if index % 9 == 8:
        print('')

2단
2단
2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18

3단
3단
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27

4단
4단
4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36

5단
5단
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45

6단
6단
6 x 1 = 6
6 x 2 = 12
6 x 3 = 18
6 x 4 = 24
6 x 5 = 30
6 x 6 = 36
6 x 7 = 42
6 x 8 = 48
6 x 9 = 54

7단
7단
7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63

8단
8단
8 x 1 = 8
8 x 2 = 16
8 x 3 = 24
8 x 4 = 32
8 x 5 = 40
8 x 6 = 48
8 x 7 = 56
8 x 8 = 64
8 x 9 = 72

9단
9단
9 x 1 = 9
9 x 2 = 18
9 x 3 = 27
9 x 4 = 36
9 x 5 = 45
9 x 6 = 54
9 x 7 = 63
9 x 8 = 72
9 x 9 = 81

In [154]:
seven_or_nine = [x for x in range(1, 100) if x % 7 == 0 or x % 9 == 0]

In [155]:
seven_or_nine

[7,
 9,
 14,
 18,
 21,
 27,
 28,
 35,
 36,
 42,
 45,
 49,
 54,
 56,
 63,
 70,
 72,
 77,
 81,
 84,
 90,
 91,
 98,
 99]